<%= simple_form_for(:food) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name, label: '店家名稱', placeholder: "店家名稱", :required => true, :autofocus => true %>
  <%= f.input :address, label: '住址', placeholder: "住址", :required => true, :autofocus => true %>
  <%= f.input :phone, label: '電話', placeholder: "電話", :required => true, :autofocus => true %>
  <%= f.input :traffictimeopen, label: '開店時間', placeholder: "開店時間", :required => true, :autofocus => true %>
  <%= f.input :traffictimeclose,label: '結束時間',placeholder: "結束時間", :required => true %>
  <%= f.input :introduction, label: '簡介', placeholder: "簡介", :required => true %>
</div>

<div class="form-actions">
  <%= f.button :submit, "輸入" %>
</div>
<% end %>